openapi: 3.1.0
info:
  title: Apollo.io Accounts Tasks API
  version: 1.0.0
  description: Apollo.io provides sales intelligence and engagement APIs for prospecting, enrichment, sequences, deals, tasks and call records. This minimal OpenAPI was generated from the public reference documentation.
servers:
- url: https://api.apollo.io/v1
  description: Production
tags:
- name: Tasks
paths:
  /tasks:
    post:
      summary: Create a task
      operationId: createTask
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
      tags:
      - Tasks
  /tasks/bulk_create:
    post:
      summary: Bulk create tasks
      operationId: bulkCreateTasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      tags:
      - Tasks
  /tasks/search:
    post:
      summary: Search tasks
      operationId: searchTasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      tags:
      - Tasks
x-generated-from: https://docs.apollo.io/
x-generated-by: claude-crawl-2026-05-08
