openapi: 3.1.0
info:
  title: Apollo.io Accounts API
  version: 1.0.0
  description: Apollo.io provides sales intelligence and engagement APIs for prospecting, enrichment, sequences, deals, tasks and call records. This minimal OpenAPI was generated from the public reference documentation.
servers:
- url: https://api.apollo.io/v1
  description: Production
tags:
- name: Accounts
paths:
  /accounts:
    post:
      summary: Create an account
      operationId: createAccount
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
      tags:
      - Accounts
  /accounts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      summary: Update an account
      operationId: updateAccount
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      tags:
      - Accounts
  /accounts/bulk_create:
    post:
      summary: Bulk create accounts
      operationId: bulkCreateAccounts
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      tags:
      - Accounts
x-generated-from: https://docs.apollo.io/
x-generated-by: claude-crawl-2026-05-08
